﻿@using ResultViewer.Client.Core.Constants;
@using ResultViewer.Client.Core.Entities.Local;

<div class="summary-item-container">
    <div class="rv-flex-h-stack rv-flex-justify-space-around">
        <div class="rv-flex-equal"> @item.Title</div>
        <div class="rv-flex-equal" data-hover=@item.Value>@item.Value</div>
    </div>
</div>
