.range-table h3 {
    color: #1e5ea9;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top:23px;
}

.content-container {
    width: 90%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table-container {
    box-sizing: border-box;
    height: 64vh;
    width: 90%;
    background: #FFFFFF;
    border: 2px solid #DADADA;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px 10px 0px 0px;
}

::deep .table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 0px;
}

::deep thead {
    height: 40px;
    background: rgb(141, 187, 221, 0.7);
    color: #6784a0;
    font-weight: bold;
    text-align: center;
}

::deep td {
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
}

::deep tr {
    height: 30px;
    border-bottom: 1px solid #DADADA;
    font-family: 'Inter';
    color: #333333;
}

::deep .quickgrid[theme=a] {
    font-family: 'Inter';
}

::deep .quickgrid[theme=a] .col-title {
    font-weight: 700;
    font-size: 14px;
    color: #3D638C;
}

::deep .quickgrid[theme=a] th {
    position: sticky;
    border: none;
    overflow-x: hidden;
    overscroll-behavior-x: none;
}

.form-group{
    margin-right:20px !important;
    margin-bottom:30px;
}

.add-button {
    height:40px;
    width:100px;
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin-top: 22px;
    margin-left:30px;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.add-button:not(:disabled):hover,
.add-button:not(:disabled):focus {
    background-color: #b3d3ea;
    color: #2c5777;
}

.add-button:not(:disabled):focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.add-button:not(:disabled):active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
}

.remove-button {
    background-color: #4fa8f7;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 7px 10px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #3788b7;
}


.remove-button:active {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.1);
}